.disabled-product {
  background-color: #3a3a3a;
}
.disabled-product .card-body {
  background-color: #f8f8f8;
}
.disabled-product .btn {
  background-color: gray;
  border-color: #ccc;
  cursor: not-allowed;
}
.queue-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
}
.queue-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}
.machine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}
.machine-item {
  display: flex;
  align-items: center;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}
.product-item {
  text-align: center;
}
.fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}
.bounce {
  animation: bounce 0.2s ease-in-out;
}
.machine-icon {
  width: 32px;
  height: 32px;
  background-size: auto;
  margin-bottom: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
