@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Press Start 2P", system-ui;

  list-style: none !important;
}
ul {
  padding: 0 !important;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #212529;
}
